body {
  margin: 0;
  padding: 0;
}

#root body {
  font-family: inherit;
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
}

#root .filterLabel {
  font-family: none;
  text-transform: uppercase;
  color: #747474;
  margin: 5px 5px
}

#root .smallHeader {
  color: #747474;
}